<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/<%= name %>/add">Add Compliment</a>
    <h1 style="background: <%= color %>"><%= name %><br><%= compliment %></h1>
  </body>
</html>
